
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(133, 144, 148);
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    background-color: #292929;
    padding-block: 15px;
  }
  
  ul {
    padding-block: 15px;
    height: 65px;
  }
  
  li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
  }
  
  li a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 1.5rem;
  }
  
  li a:hover {
    color: #e22b2b;
    transition: 0.3s;
  }
  
  a {
    text-decoration: none;
    color: #f0f3f4;
  }
  
  .logo-container {
    float: left;
    height: 65px;
    width: 95px;
    margin-left: 50px;
  }
  
  .logo {
    height: 100%;
    width: 100%;
  }
  
  .summary {
    position: relative;
    height: 600px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    background-image: url(../img/triston\ cover\ 2.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .summary::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(210, 210, 210, 0.672);
  }
  
  h3,
  p {
    position: relative;
  }
  
  .summary:has(h3, p) {
    font-size: 4.5rem;
    color: #202020;
  }
  
  .creators {
    text-align: center;
    font-size: 40px;
    color: #f0f3f4;
    font-weight: bolder;
    margin: 5px;
  }
  
  .body-container {
    width: 100%;
    margin: 15px 0;
  }
  
  .row {
    width: 80%;
    margin: 0 auto;
  }
  
  .column {
    width: 33.33%;
    float: left;
    text-align: center;
  }
  
  .clearfix {
    clear: both;
  }
  
  .footer {
    padding: 25px 0;
    text-align: center;
    background-color: #292929;
  }
  
  .fa-brands {
    font-size: 60px;
  }
  
  .fa-square-instagram {
    color: #e22b2b;
  }
  
  button {
    background-color: #e22b2b;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .footer2 {
    padding: 25px 0;
    text-align: center;
    background-color: white;
  }

  