
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


.nav {
    color: rgb(96, 92, 92);
    position:fixed;
    border-width: 5px;
    border-color: black;

}

.summary {
    text-align:center;
    font-family: 'Poppins',sans-serif;
    font-size: 85px;
    color: rgb(32, 5, 58);
    font-weight: bolder;
    
}

.creators {
    text-align:center;
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    color: rgb(70, 14, 122);
    font-weight: bolder;
    margin-top: 0%;
}


.container {
    position: relative;
    text-align: center;
    color: rgb(246, 244, 248);
    height: 300px;
    opacity: 15%;
    margin-top: 23px;

}

.top-left text {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 120px;
    color: blueviolet;
}

header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: inline-flexbox;
    text-align: right;
    height: 625px;
    padding: 10px;
    background-color: rgb(87, 5, 102);
}

body {
    background-color: rgb(133, 144, 148);
    opacity: 90%;
    padding: 10px;
    
}

.column {
    float: left;
    width: 33.33%;
    

}
    
.column img {
    opacity: 0.8;
    cursor: pointer;
}


.row::after {
    content: "";
    display: table;
    clear:both
}

.img {
    box-shadow: 10px;
    border-color: blueviolet;
    border-width: 5px;
}

.ig {
    padding: 20px;
    font-size: 3000px
    
    
}

.fa-brands {
    background: fixed;
    font-size: 60px;
    width: 60px;
    float: left;
    position: relative;
    color: rgb(232, 10, 10);
    background-color: white;
}

footer {
    position: sticky;
    background: #f0f3f4;
    border-color: rgb(87, 13, 156);
    border-width: 20px;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: inline-flexbox;

}

.column1 {
    width: 50%;
    float: left;
    opacity: 100%;
    border: black;
    border-width: 5px;

}

button {
    background-color: rgb(226, 43, 43);
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: antiquewhite;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
